<!DOCTYPE html>
<html>
@@include('./part/head.html')
<title>tab模块</title>
<body>
<!-- 此页面的效果可由tabs-module页面的v-for改为v-if实现，但是v-if性能较差，不建议使用 -->
<div class="tabs" id="tabs">
	<div class="tabs-header">
		<div class="tabs-title-name" v-bind:class="{ 'active': $index == iscur }" v-for="item in titles" v-on:click="setCur($index)">
			{{ item.name }}
		</div>
	</div>
	<div class="tabs-body">
		<dl>
			<template v-for="item in contents">
				<dt v-on:click="showMsg($index)">{{ item.title }}</dt>
				<dd v-bind:class="{ 'show': $index == isShow, 'hide': $index != isShow }">{{ item.content }}</dd>
			</template>
		</dl>
	</div>
</div>

@@include('./part/footer.html')
<!-- build:js js/tabs.js -->
<script src="./js/tabs.js"></script>
<!-- endbuild -->
</body>
</html>